<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82340952469-9g7tq2uh90f3d31a8eid020onsndqpca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82340952469-9g7tq2uh90f3d31a8eid020onsndqpca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>82340952469-7prtspqrg6tmedtd4qbpbj0uko49cj68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmuqLGrwncuOQumEUwVld2j-dsAzFG3lI</string>
	<key>GCM_SENDER_ID</key>
	<string>82340952469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zenzone-1</string>
	<key>STORAGE_BUCKET</key>
	<string>zenzone-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82340952469:ios:ec70ca27fb87c44ea29e9c</string>
</dict>
</plist>